<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link rel="stylesheet" href="/user/css/signup.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
    <div class="bg-img">
        <div class="content">
            <header>Sign up</header>
            <form method="post">
                <div class="field space">
                    <span class="fa fa-user"></span>
                    <input type="text" required placeholder="user fullname" name="userName" />
                </div>
                <div class="field space">
                    <span class="fa fa-user"></span>
                    <input type="text" id="userPhone" required placeholder="user phone" name="userPhone" />
                </div>
                <div class="error" id="error-phone-number-existed" style="display: none">Phone Number existed!</div>
                <div class="success" id="success-email" style="display: none">Phone Number available</div>
                {{!-- {{#if error}}
                <div class="error">{{error}}</div>
                {{/if}} --}}
                <div class="field space">
                    <span class="fa fa-user"></span>
                    <input type="email" required placeholder="user email" name="userEmail" />
                </div>
                <div class="field space">
                    <span class="fa fa-lock"></span>
                    <input type="password" class="pass-key" required placeholder="Password" name="userPassword"
                        id="pass" />
                    <div class="show">SHOW</div>
                </div>

                {{!-- {{#if error}}
                <div class="error">{{error.pass}}</div>
                {{/if}} --}}
                <div class="field space">
                    <span class="fa fa-lock"></span>
                    <input type="password" class="pass-key" required placeholder="Confirm Password" id="confirmPass" />
                    <span class="show">SHOW</span>
                </div>
                <div class="signupGender">
                    <span class="fa fa-user"></span>
                    <input type="radio" required id="userGender1" name="userGender" value="Male" />
                    <label for="userGender1">Male</label>
                    <input type="radio" required id="userGender2" name="userGender" value="Female">
                    <label for="userGender2">Female</label>
                </div>
                <div class="field space">
                    <span class="fa fa-user"></span>
                    <input type="text" placeholder="address" name="userAddress" />
                </div>
                <!-- <div class="pass">
            <a href="#">Forgot Password?</a>
          </div> -->
                <div class="field space">
                    <input type="submit" value="SIGN UP" />
                </div>
            </form>
            <!-- <div class="login">Or login with</div>
        <div class="links">
          <div class="facebook">
            <i class="fab fa-facebook-f"><span>Facebook</span></i>
          </div>
          <div class="instagram">
            <i class="fab fa-instagram"><span>Instagram</span></i>
          </div>
        </div> -->
            <div class="signup space">
                Have an account?
                <a href="login">Log in now</a>
            </div>
        </div>
    </div>

    {{#extend "scripts"}}
    <script>
        $(document).ready(function () {
            $('#userPhone').click(function () {
                console.log("ajax");
                $.getJSON('/api/auth/verify-phone-number/' + $(this).val(), function (data) {
                    if (data) {
                        $('#error-phone-number-existed').hide();
                        $('#success-phone-number').show();

                    } else {
                        $('#error-phone-number-existed').show();
                        $('#success-phone-number').hide();

                    }
                });
            });
        });
    </script>
    {{/extend}}

    <script>
        const pass_field = document.querySelector(".pass-key");
        const showBtn = document.querySelector(".show");
        showBtn.addEventListener("click", function () {
            if (pass_field.type === "password") {
                pass_field.type = "text";
                showBtn.textContent = "HIDE";
                showBtn.style.color = "#3498db";
            } else {
                pass_field.type = "password";
                showBtn.textContent = "SHOW";
                showBtn.style.color = "#222";
            }
        });

        const passField = document.getElementById("pass");
        const confirmPassField = document.getElementById("confirmPass");
    </script>
</body>

</html>