<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment | Mono</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">

    <link rel="stylesheet" href="/user/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/user/css/animate.css">

    <link rel="stylesheet" href="/user/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/user/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/user/css/magnific-popup.css">

    <link rel="stylesheet" href="/user/css/aos.css">

    <link rel="stylesheet" href="/user/css/ionicons.min.css">

    <link rel="stylesheet" href="/user/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/user/css/jquery.timepicker.css">


    <link rel="stylesheet" href="/user/css/flaticon.css">
    <link rel="stylesheet" href="/user/css/icomoon.css">
    <link rel="stylesheet" href="/user/css/style.css">
    <link rel="stylesheet" href="/user/css/paymentMono.css">

</head>


<body>
    <div class="container d-lg-flex">
        <div class="box-1 bg-light user">
            <div class="box-inner-1 pb-3 mb-3 ">
                <div class="d-flex justify-content-between mb-3 userdetails">
                    <p class="fw-bold">Cold Brew Coffee</p>
                    <p class="fw-lighter"><span class="fas fa-dollar-sign"></span>Momo</p>
                </div>
                <div id="my" class="carousel slide carousel-fade img-details" data-bs-ride="carousel"
                    data-bs-interval="2000">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <p class="dis fw-bold mb-2">Scan QR Code to Pay</p>
                        </div>
                        <img src="/images/paymentMomo.jpg" class="d-block w-100 h-100">
                    </div>

                </div>
                <div class="d-flex">
                    <p class="dis fw-bold mb-2">Or Payment by phone number: +84 111 222 333</p>
                </div>
            </div>
        </div>
        <div class="box-2">
            <div class="box-inner-2">
                <div>
                    <p class="fw-bold">Payment Details</p>
                    <p class="dis mb-3">Welcome to momo payment</p>
                </div>
                <form action="">

                    <div>
                        <p class="dis fw-bold mb-2">Total</p>
                        <div class="d-flex align-items-center justify-content-between card-atm border rounded">
                            <div class="fab fa-cc-visa ps-3"></div>
                            <input type="text" class="form-control" placeholder="Total Payment">
                            <div class="d-flex w-50">
                                <input type="text" class="form-control px-0" placeholder="{{totalPrice}}">
                            </div>
                        </div>

                        <a href="/user/order">
                            <div class="btn btn-primary mt-2">Finish Payment<span
                                    class="fas fa-dollar-sign px-1"></span>!
                            </div>
                        </a>
                    </div>
            </div>
        </div>
        </form>
    </div>
    </div>
    </div>

</body>