<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <title>Edit Password</title>
    <link rel="stylesheet" href="/user/css/login.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>

    <div class="tab-content">
        <div>
            <div class="col-lg-5">
                <div class="container rounded mt-5 mb-5 ">
                    <div class="p-3 py-5">
                        <div class="row center">
                            <form method="post" action="/account/editPassword">
                                <label class="labels">Current Password:</label>
                                <input type="password" class="form-control" placeholder="enter current password"
                                    name="currentPassword">
                                <label class="labels">New Password:</label>
                                <input type="password" class="form-control" placeholder="enter new password"
                                    name="newPassword">
                                <button type="submit" class="btn btn-primary mr-2">
                                    Submit
                                </button>
                                <button type="reset" class="btn iq-bg-danger">
                                    Cancel
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>