<section class="ftco-section img" id="ftco-testimony" style="background-image: url(/images/bg_1.jpg);"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Customer</span>
                <h2 class="mb-4">Avatar Settings</h2>
            </div>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane fade active show" id="personal-information" role="tabpanel">
            <div class="container rounded mt-5 mb-5 editProfile">
                <div class="row">
                    <div class="col-md-9">
                        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                            <<img class="rounded-circle mt-5" width="150px" src="/images/avatar/{{user.loginAvatar}}">
                                <form method="POST" action="/account/editAvatar" enctype="multipart/form-data">
                                    <input type="file" name="image">
                                    <input type="submit">
                                </form>
                                <span class="font-weight-bold">{{user.loginName}}</span>
                                <span class="text-white-50">edogaru@mail.com.my</span>

                                </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>