<div class="tab-content">
    <div class="tab-pane fade " id="chang-pwd" role="tabpanel">
        <div class="col-lg-5">
            <div class="container rounded mt-5 mb-5 editProfile">
                <div class="p-3 py-5">
                    <div class="row ">
                        <label class="labels">Current Password:</label>
                        <input type="text" class="form-control" placeholder="enter current password" value="">
                        <label class="labels">New Password:</label>
                        <input type="text" class="form-control" placeholder="enter new password" value="">
                        <label class="labels">Vertify Password</label>
                        <input type="text" class="form-control" placeholder="enter againt new password" value="">
                        <button type="submit" class="btn btn-primary mr-2">
                            Submit
                        </button>
                        <button type="reset" class="btn iq-bg-danger">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>