<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link rel="stylesheet" href="/user/css/signup.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <div class="bg-img">
      <div class="content">
        <header>Sign up</header>
        <form action="/account/login">
          <div class="field space">
            <span class="fa fa-user"></span>
            <input type="text" required placeholder="First Name" />
          </div>
          <div class="field space">
            <span class="fa fa-user"></span>
            <input type="text" required placeholder="Last Name" />
          </div>
          <div class="field space">
            <span class="fa fa-user"></span>
            <input type="text" required placeholder="Phone Number" />
          </div>
          <div class="field space">
            <span class="fa fa-lock"></span>
            <input
              type="password"
              class="pass-key"
              required
              placeholder="Password"
            />
            <span class="show">SHOW</span>
          </div>
          <div class="field space">
            <span class="fa fa-lock"></span>
            <input
              type="password"
              class="pass-key"
              required
              placeholder="Confirm Password"
            />
            <span class="show">SHOW</span>
          </div>
          <!-- <div class="pass">
            <a href="#">Forgot Password?</a>
          </div> -->
          <div class="field space">
            <input type="submit" value="SIGN UP" />
          </div>
        </form>
        <!-- <div class="login">Or login with</div>
        <div class="links">
          <div class="facebook">
            <i class="fab fa-facebook-f"><span>Facebook</span></i>
          </div>
          <div class="instagram">
            <i class="fab fa-instagram"><span>Instagram</span></i>
          </div>
        </div> -->
        <div class="signup space">
          Have an account?
          <a href="/login">Log in now</a> 
        </div>
      </div>
    </div>
    <script>
      const pass_field = document.querySelector(".pass-key");
      const showBtn = document.querySelector(".show");
      showBtn.addEventListener("click", function () {
        if (pass_field.type === "password") {
          pass_field.type = "text";
          showBtn.textContent = "HIDE";
          showBtn.style.color = "#3498db";
        } else {
          pass_field.type = "password";
          showBtn.textContent = "SHOW";
          showBtn.style.color = "#222";
        }
      });
    </script>
  </body>
</html>
